src/junit.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<!--
     Schema for checking the test log generated by PHPUnit
     License: GPL-2.0 or later
 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="testsuites">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="testsuite" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:attributeGroup name="Main">
        <xs:attribute name="name" type="xs:string" use="required"/>
        <xs:attribute name="time" type="xs:decimal"/>
        <xs:attribute name="assertions" type="xs:integer" use="required"/>
    </xs:attributeGroup>

    <xs:element name="testsuite">
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="testsuite"/>
                <xs:element ref="testcase"/>
            </xs:choice>
            <xs:attributeGroup ref="Main"/>
            <xs:attribute name="tests" type="xs:integer" use="required"/>
            <xs:attribute name="errors" type="xs:integer" use="required"/>
            <xs:attribute name="failures" type="xs:integer" use="required"/>
            <xs:attribute name="skipped" type="xs:integer" use="required"/>
            <xs:attribute name="file" type="xs:string"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="testcase">
        <xs:complexType mixed="true">
            <xs:sequence minOccurs="0">
                <xs:element name="skipped" type="xs:string" minOccurs="0"/>
                <xs:element ref="warning" minOccurs="0"/>
                <xs:element ref="failure" minOccurs="0"/>
                <xs:element ref="error" minOccurs="0"/>
                <xs:element name="system-err" type="xs:string" minOccurs="0"/>
                <xs:element name="system-out" type="xs:string" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="name" type="xs:string"/>
            <xs:attribute name="time" type="xs:decimal"/>
            <xs:attribute name="assertions" type="xs:integer"/>
            <xs:attribute name="class" type="xs:string"/>
            <xs:attribute name="classname" type="xs:string"/>
            <xs:attribute name="file" type="xs:string"/>
            <xs:attribute name="line" type="xs:integer"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="failure">
        <xs:complexType mixed="true">
            <xs:attribute name="type" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="error">
        <xs:complexType mixed="true">
            <xs:attribute name="type" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="warning">
        <xs:complexType mixed="true">
            <xs:attribute name="type" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>
</xs:schema>
